
        body { font: 16px Helvetica, Sans-Serif; line-height: 30px; width: 800px; margin: 40px auto 60px; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        p { margin: 0 0 16px 0; }
        ul { margin: 0 0 32px 17px; }